{% extends 'auth_base.html' %}



{% block content %}
<div  style="background-image: url('/static/Images/myimg.webp'); background-size: cover; background-position: center;" class="min-h-screen flex items-center justify-center bg-gray-100 py-12 px-4 bg-cover bg-center">
    <div class="max-w-md w-full space-y-8 bg-white/95 backdrop-blur-sm p-10 rounded-xl shadow-2xl">
        <div class="text-center">
            <h2 class="text-3xl font-extrabold text-gray-900">Welcome Back</h2>
        </div>
        
        <form method="POST" class="mt-8 space-y-6">
            {% csrf_token %}
            {{ form.as_p }}
            
            <button type="submit" class="w-full py-3 px-4 bg-slate-800 hover:bg-slate-900 text-white font-bold rounded-lg transition">
                Sign In
            </button>
        </form>
        <div class="text-center mt-4">
             <a href="{% url 'career:register' %}" class="text-sm text-cyan-600 hover:text-cyan-800 font-semibold">Don't have an account? Sign up</a>
        </div>
    </div>
</div>
{% endblock %}